flows.json
[{"id":"598f640a.63cd1c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a790b93c.a5c018","type":"play audio","z":"598f640a.63cd1c","name":"","voice":"0","x":950,"y":320,"wires":[]},{"id":"ae9ed603.a17798","type":"watson-speech-to-text","z":"598f640a.63cd1c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"bmkLlXMAN3GrxCKrgc-0O0bP31p1cVEhpbfsiXXW8ZXO","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/59cd4429-32ef-479d-af17-ccd29b79edaa","x":280,"y":340,"wires":[["d5720b16.707658"]]},{"id":"f77e6152.d3053","type":"microphone","z":"598f640a.63cd1c","name":"","x":110,"y":340,"wires":[["ae9ed603.a17798"]]},{"id":"d5720b16.707658","type":"function","z":"598f640a.63cd1c","name":"","func":"msg.payload=msg.transcription\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["b03d8155.6fb9a"]]},{"id":"3f8bce39.beebd2","type":"watson-text-to-speech","z":"598f640a.63cd1c","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaV2Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"HLgqHWlgFanS6UcZG49Hzm7M-urzGPW8ibGXsdc4GiLp","payload-response":true,"service-endpoint":"https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/b96fc845-22e1-4be8-9ccd-2de6b7631ca9","x":760,"y":320,"wires":[["a790b93c.a5c018"]]},{"id":"b03d8155.6fb9a","type":"watson-conversation-v1","z":"598f640a.63cd1c","name":"","workspaceid":"b4e185ea-bdd0-4e40-9ce6-513199cae63e","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bf4931f2-e336-4d61-bb3b-2c8427f07053","timeout":"","optout-learning":false,"x":460,"y":260,"wires":[["de8f9911.1e9498"]]},{"id":"b75aa0c6.2e38a","type":"inject","z":"598f640a.63cd1c","name":"what are morning timings","topic":"","payload":"what are morning timings","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["b03d8155.6fb9a"]]},{"id":"d0444635.070668","type":"inject","z":"598f640a.63cd1c","name":"what is the cost for entrance","topic":"","payload":"what is the cost for entrance","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":120,"wires":[["b03d8155.6fb9a"]]},{"id":"de8f9911.1e9498","type":"function","z":"598f640a.63cd1c","name":"","func":"msg.payload=msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["3f8bce39.beebd2"]]},{"id":"20405a95.c90016","type":"inject","z":"598f640a.63cd1c","name":"what are evening timings","topic":"","payload":"what are evening timings","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["b03d8155.6fb9a"]]},{"id":"3169da10.2ce3c6","type":"inject","z":"598f640a.63cd1c","name":"thank you","topic":"","payload":"thank you","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["b03d8155.6fb9a"]]},{"id":"8b3361bd.e5adb","type":"inject","z":"598f640a.63cd1c","name":"hello","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":40,"wires":[["b03d8155.6fb9a"]]},{"id":"68619468.5dbbec","type":"inject","z":"598f640a.63cd1c","name":"good morning","topic":"","payload":"good morning","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":80,"wires":[["b03d8155.6fb9a"]]}]